<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Local notifications sample
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="home-content">

    <ion-button expand="block" shape="round" (click)="scheduleNotifications()">
      Schedule local notifications
    </ion-button>

    <ion-card *ngIf="notificationsList.length > 0">
      <ion-card-header>
        <ion-card-title>Scheduled notifications</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label><strong>Notification</strong></ion-label>
            <ion-label slot="end"><strong>Schedule</strong></ion-label>
          </ion-item>
          <ion-item *ngFor="let notification of notificationsList">
            <ion-label>{{ notification.title }}</ion-label>
            <ion-label slot="end">{{ buildDate(notification.schedule.at) }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>
  
</ion-content>